MotionMQTTWidget/Node-Red Ubidots Flow.json
[{"id":"af5d4fae.0d088","type":"subflow","name":"Send variable to Ubidots","info":"Sends the message part of the payload.\nNeeds:\nmsg.payload (data: ie {'value':1.2, 'content' : { 'message' : MESSAGE }}) ->\nmsg.token\nmsg.variableId","in":[{"x":400,"y":380,"wires":[{"id":"578aef4.9b9c81"}]}],"out":[]},{"id":"578aef4.9b9c81","type":"function","z":"af5d4fae.0d088","name":"Ubidots send variable","func":"\nvar data = msg.payload;\n\nmsg.headers = {\n    'Content-Type' : 'application/json',\n    'Content-Length' : data.length,\n    'X-Auth-Token' : msg.token\n};\nmsg.method = \"POST\";\nmsg.payload = data;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["c94890bd.23053"]]},{"id":"c94890bd.23053","type":"http request","z":"af5d4fae.0d088","name":"","method":"use","ret":"obj","url":"http://things.ubidots.com/api/v1.6/variables/{{{variableId}}}/values/","tls":"","x":850,"y":260,"wires":[[]]},{"id":"72d0a297.89d43c","type":"debug","z":"af5d4fae.0d088","name":"","active":true,"console":"false","complete":"payload","x":850,"y":520,"wires":[]},{"id":"8ee41811.605878","type":"debug","z":"af5d4fae.0d088","name":"","active":true,"console":"false","complete":"statusCode","x":1064.5,"y":260,"wires":[]},{"id":"d20cfde5.ecc4b","type":"mqtt in","z":"e56b480b.d16798","name":"","topic":"/liamsroom/heaterswitch/online","qos":"0","broker":"8fb4c14f.3a4c4","x":150,"y":40,"wires":[["f6bc04e0.849c88"]]},{"id":"f6bc04e0.849c88","type":"trigger","z":"e56b480b.d16798","op1":"{\"class\":\"fa fa-rss\"}","op2":"{\"class\":\"\"}","op1type":"json","op2type":"json","duration":"800","extend":false,"units":"ms","reset":"","name":"Pulse","x":390,"y":40,"wires":[["1a081470.72ed6c"]]},{"id":"992718dc.1e1708","type":"mqtt out","z":"e56b480b.d16798","name":"/device/liamroom/temperature/command","topic":"/device/liamroom/temperature/command","qos":"0","retain":"","broker":"8fb4c14f.3a4c4","x":760,"y":180,"wires":[]},{"id":"46e9e54c.59870c","type":"inject","z":"e56b480b.d16798","name":"GET_TEMPERATURE","topic":"","payload":"1","payloadType":"str","repeat":"300","crontab":"","once":true,"x":150,"y":180,"wires":[["a5ddfb3f.ed20b8"]]},{"id":"93a95e49.437d2","type":"mqtt in","z":"e56b480b.d16798","name":"","topic":"/device/liamroom/temperature","qos":"1","broker":"8fb4c14f.3a4c4","x":160,"y":260,"wires":[["f7245ecd.365fa","89569d8f.ed66e","93e6bde8.99db8"]]},{"id":"b38188d7.7bfa48","type":"comment","z":"e56b480b.d16798","name":"Every 5 Minutes >>","info":"","x":110,"y":220,"wires":[]},{"id":"f7245ecd.365fa","type":"ui_template","z":"e56b480b.d16798","group":"98ef9212.5d522","name":"Room Temperature","order":3,"width":"4","height":"1","format":"<span style=\"font-size: 24px; color: orange; font-weight: bold; text-align: center; verticle-align: middle;\">\n    {{msg.payload | number:1}}\n</span>\n","storeOutMessages":true,"fwdInMessages":true,"x":470,"y":300,"wires":[[]]},{"id":"5c24948.de3f76c","type":"ui_button","z":"e56b480b.d16798","name":"Refresh Room Temp","group":"98ef9212.5d522","order":4,"width":"1","height":"1","label":"","color":"white","bgcolor":"{{msg.payload.background}}","icon":"fa-refresh","payload":"1","payloadType":"str","topic":"","x":120,"y":140,"wires":[["a5ddfb3f.ed20b8"]]},{"id":"c7f47276.94127","type":"subflow:af5d4fae.0d088","z":"e56b480b.d16798","name":"Send LiamsRoom_Temperature","x":750,"y":260,"wires":[]},{"id":"89569d8f.ed66e","type":"function","z":"e56b480b.d16798","name":"Form Packet","func":"\n// var getTempAgainMsg = null;\nvar temperature = parseFloat(msg.payload);\n\nif (temperature === \"\") {\n    return;\n}\n\nmsg.token = \"GioE85MkDexLpsbE1Tt37F3TY2p3Fa6XM4bKvftz9OfC87MrH5bQGceJrVgF\";\n\nmsg.variableId = \"58ec88b37625422c3ce37d3f\";\n\nmsg.payload = \"\";\nif (temperature !== \"\" && temperature > 0) {\n    msg.payload = \"{ \\\"value\\\" : \\\"\" + temperature + \"\\\" } \";\n}\nelse {\n    msg = null;\n    // getTempAgainMsg =  { payload : \"1\" };\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":450,"y":260,"wires":[["c7f47276.94127"]]},{"id":"8b516460.f6b768","type":"mqtt out","z":"e56b480b.d16798","name":"../command = RELAY","topic":"/liamsroom/heaterswitch/command","qos":"","retain":"","broker":"8fb4c14f.3a4c4","x":740,"y":440,"wires":[]},{"id":"7ffab7eb.e5cbe8","type":"inject","z":"e56b480b.d16798","name":"ENABLE","topic":"","payload":"{ \"command\" : \"ENABLE\", \"value\" : \"ON\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":800,"wires":[["5b24d188.317ba"]]},{"id":"93e6bde8.99db8","type":"function","z":"e56b480b.d16798","name":"Heater Controller","func":"var temperature = parseFloat(msg.payload);\n\ncontext.switchTemp = context.get('switchTemp') || 17.0;\nstartTime = flow.get('startTime') || \"6:30pm\";\nendTime = flow.get('endTime') || \"7:00am\";\ncontext.lastTemp = context.get('lastTemp');\ncontext.liamsroom_debug = context.get('liamsroom_debug') || false;\n\ncontrollerEnabled = flow.get('controllerEnabled') || false;\n\nvar timestamp = global.get(\"timestamp\");\nvar date = new Date(timestamp*1000);\n\nvar hour = date.getHours();\nvar minute = date.getMinutes();\n\nswitch (msg.topic) {\n    \n    case \"/device/liamroom/temperature\":\n        if (temperature === \"\" || temperature < 0) {\n            return;\n        }\n        context.set('lastTemp', temperature);\n        context.lastTemp = context.get('lastTemp');\n        break;\n        \n    case \"/node/thermostat/value\":\n        context.set('switchTemp', msg.payload);\n        context.switchTemp = context.get('switchTemp');\n        break;\n\n    case \"/node/liamsroom/debug\":\n        context.set('liamsroom_debug', msg.payload);\n        context.liamsroom_debug = context.get('liamsroom_debug');\n        break;\n        \n    case \"/liamsroom/heaterswitch/buttonpressed\":\n        // controllerEnabled = flowContext.get('controllerEnabled');\n        break;\n}\n\nvar timeOk = flow.get('timeOk') || context.liamsroom_debug;\nvar colder = context.lastTemp < context.switchTemp;\nvar enabled = flow.get('controllerEnabled');\n\nif (colder && enabled && timeOk) {\n    // turn heater ON\n    msg.payload = \"{ \\\"command\\\" : \\\"RELAY\\\", \\\"value\\\" : \\\"ON\\\" }\";\n    node.status({fill:\"green\",shape:\"dot\",text:\"temp: \" + context.lastTemp});\n}\nelse {\n    // turn heater OFF\n    var reason = timeOk ? \"\" : \"Early/Late \";\n    reason += colder ? \"\" : \"Warmer \";\n    reason += enabled ? \"\" : \"Disabled\";\n    \n    node.status({fill:\"red\", shape:\"ring\", text: reason});\n    msg.payload = \"{ \\\"command\\\" : \\\"RELAY\\\", \\\"value\\\" : \\\"OFF\\\" }\";\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":450,"y":420,"wires":[["8b516460.f6b768","66baac25.a2dc24","1ff0aaab.2dfa55"]]},{"id":"3bea35d1.54f57a","type":"ui_numeric","z":"e56b480b.d16798","name":"Thermostat","label":"Thermostat","group":"98ef9212.5d522","order":8,"width":"6","height":"1","passthru":true,"topic":"/node/thermostat/value","format":"{{value}} &deg;","min":"15","max":"20","step":1,"x":110,"y":480,"wires":[["93e6bde8.99db8"]]},{"id":"d4c5ce45.d1a03","type":"comment","z":"e56b480b.d16798","name":"Testing","info":"","x":90,"y":680,"wires":[]},{"id":"14ad4f4b.ba8f61","type":"comment","z":"e56b480b.d16798","name":"Config","info":"","x":90,"y":400,"wires":[]},{"id":"1a081470.72ed6c","type":"ui_template","z":"e56b480b.d16798","group":"98ef9212.5d522","name":"Heater Switch Online","order":1,"width":"6","height":"1","format":"<style>\n\n.topic-name {\n    float: left;\n    width: 80%;\n    border: 1px solid silver;\n}\n.led-container {\n    width: 20px;\n} \n\n.led-red {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n    background-color: red;\n}\n \n.led-none {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n    background-color: #0;\n}\n\n</style>\n\n\n<!--<div ng-bind-html=\"msg.payload\">-->\n\n    <table width=\"100%\">\n        <tr>\n            <td>{{msg.topic}}</td>\n            <td width=\"20\">    \n                <div ng-switch on=\"msg.payload\">\n                  <div class=\"led-red\" ng-switch-when=\"0\"></div>\n                  <div class=\"led-none\" ng-switch-default></div>\n                </div>      \n            </td>\n        </tr>\n    </table>\n\n    \n<!--</div> -->\n","storeOutMessages":true,"fwdInMessages":true,"x":680,"y":40,"wires":[[]]},{"id":"4fd4a728.7c2db8","type":"ui_button","z":"e56b480b.d16798","name":"Relay ON","group":"98ef9212.5d522","order":12,"width":0,"height":0,"label":"Relay ON","color":"","bgcolor":"","icon":"","payload":"{ \"command\" : \"RELAY\", \"value\" : \"ON\" }","payloadType":"json","topic":"","x":100,"y":720,"wires":[["8b516460.f6b768"]]},{"id":"91176ac9.4991c8","type":"ui_button","z":"e56b480b.d16798","name":"Relay OFF","group":"98ef9212.5d522","order":13,"width":0,"height":0,"label":"Relay OFF","color":"","bgcolor":"","icon":"","payload":"{ \"command\" : \"RELAY\", \"value\" : \"OFF\" }","payloadType":"json","topic":"","x":110,"y":760,"wires":[["8b516460.f6b768"]]},{"id":"b33fcf1c.48946","type":"mqtt in","z":"e56b480b.d16798","name":"buttonpressed","topic":"/liamsroom/heaterswitch/buttonpressed","qos":"1","broker":"8fb4c14f.3a4c4","x":110,"y":560,"wires":[["5b24d188.317ba"]]},{"id":"62c0bf52.df9a9","type":"ui_template","z":"e56b480b.d16798","group":"98ef9212.5d522","name":"Enabled","order":2,"width":"6","height":"1","format":"<style>\n\n.topic-name {\n    float: left;\n    width: 80%;\n    border: 1px solid silver;\n}\n.led-container {\n    width: 20px;\n} \n\n.led-green {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n    background-color: green;\n    border: 1px solid green;\n}\n\n.led-red {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n    background-color: red;\n}\n \n.led-none {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n    background-color: #0;\n    border: 1px solid green;\n}\n\n</style>\n\n\n<!--<div ng-bind-html=\"msg.payload\">-->\n\n    <table width=\"100%\">\n        <tr>\n            <td>Controller Enabled:</td>\n            <td width=\"20\">    \n                <div ng-switch on=\"msg.payload.value\">\n                  <div class=\"led-green\" ng-switch-when=\"1\"></div>\n                  <div class=\"led-none\" ng-switch-default></div>\n                </div>      \n            </td>\n        </tr>\n    </table>\n\n    \n<!--</div> -->\n","storeOutMessages":true,"fwdInMessages":true,"x":880,"y":500,"wires":[[]]},{"id":"57fe2a71.391544","type":"debug","z":"e56b480b.d16798","name":"","active":false,"console":"false","complete":"payload","x":890,"y":620,"wires":[]},{"id":"97b5b010.b837","type":"mqtt out","z":"e56b480b.d16798","name":"../command = LED","topic":"/liamsroom/heaterswitch/command","qos":"","retain":"","broker":"8fb4c14f.3a4c4","x":910,"y":660,"wires":[]},{"id":"66baac25.a2dc24","type":"debug","z":"e56b480b.d16798","name":"","active":false,"console":"false","complete":"false","x":710,"y":400,"wires":[]},{"id":"397ad38a.1d433c","type":"comment","z":"e56b480b.d16798","name":"LED command","info":"","x":900,"y":580,"wires":[]},{"id":"3358d204.906e9e","type":"comment","z":"e56b480b.d16798","name":"RELAY command","info":"","x":720,"y":320,"wires":[]},{"id":"5b24d188.317ba","type":"function","z":"e56b480b.d16798","name":"Controller Enable/Disable","func":"context.global.makeJsonCommand = function(command, value) {\n    return \"{ \\\"command\\\" : \\\"\" + command + \"\\\", \\\"value\\\" : \\\"\" + value + \"\\\" }\";\n};\n\ncontrollerEnabled = flow.get('controllerEnabled') || false;\n\nif (msg.topic == \"/liamsroom/heaterswitch/buttonpressed\") {\n    flow.set('controllerEnabled', !controllerEnabled);\n    controllerEnabled = flow.get('controllerEnabled');\n}\n\nif (controllerEnabled === true) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"enabled\"});\n}\nelse {\n    node.status({fill:\"red\",shape:\"ring\",text:\"disabled\"});\n}\n\nmsg.payload = context.global.makeJsonCommand(\"LED\", controllerEnabled ? \"1\" : \"0\");\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["97b5b010.b837","57fe2a71.391544","93e6bde8.99db8","c0a7b2ca.62d7e"]]},{"id":"ff57a5ab.cf3398","type":"function","z":"e56b480b.d16798","name":"Global functions","func":"context.global.makeJsonCommand = function(command, value) {\n    return \"{ \\\"command\\\" : \\\"\" + command + \"\\\", \\\"value\\\" : \\\"\" + value + \"\\\" }\";\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":840,"wires":[[]]},{"id":"a5ddfb3f.ed20b8","type":"function","z":"e56b480b.d16798","name":"GetTemp Command","func":"msg.payload = { \"command\" : \"GET_TEMPERATURE\", \"value\" : \"no value\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["992718dc.1e1708"]]},{"id":"84f1838c.8cd25","type":"inject","z":"e56b480b.d16798","name":"Thermostat temp","topic":"","payload":"19","payloadType":"num","repeat":"","crontab":"","once":true,"x":130,"y":440,"wires":[["3bea35d1.54f57a","6175a35f.cb280c"]]},{"id":"6175a35f.cb280c","type":"ui_switch","z":"e56b480b.d16798","name":"Debug","label":"Debug","group":"98ef9212.5d522","order":0,"width":"3","height":"1","passthru":true,"topic":"/node/liamsroom/debug","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":520,"wires":[["93e6bde8.99db8"]]},{"id":"d3e029fe.6e9c08","type":"inject","z":"e56b480b.d16798","name":"/liamsroom/heaterswitch/buttonpressed","topic":"/liamsroom/heaterswitch/buttonpressed","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":840,"wires":[["5b24d188.317ba"]]},{"id":"c0a7b2ca.62d7e","type":"json","z":"e56b480b.d16798","name":"","x":690,"y":500,"wires":[["62c0bf52.df9a9"]]},{"id":"e787f38c.3668d","type":"ui_template","z":"e56b480b.d16798","group":"98ef9212.5d522","name":"Heater","order":2,"width":"6","height":"1","format":"<style>\n\n.topic-name {\n    float: left;\n    width: 80%;\n    border: 1px solid silver;\n}\n.led-container {\n    width: 20px;\n} \n\n.led-green {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n    background-color: green;\n}\n\n.led-off {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n\tborder: 1px solid green;\n}\n\n.led-red {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n    background-color: red;\n}\n\n.led-orange {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n    background-color: orange;\n}\n \n.led-none {\n    border-radius: 50%;\n\twidth: 20px;\n\theight: 20px; \n    background-color: #0;\n}\n\n</style>\n\n\n<!--<div ng-bind-html=\"msg.payload\">-->\n\n    <table width=\"100%\">\n        <tr>\n            <td>Heater:</td>\n            <td width=\"20\">    \n                <div ng-switch on=\"msg.payload.value\">\n                  <div class=\"led-orange\" ng-switch-when=\"ON\"></div>\n                  <div class=\"led-off\" ng-switch-default></div>\n                </div>      \n            </td>\n        </tr>\n    </table>\n\n    \n<!--</div> -->\n","storeOutMessages":true,"fwdInMessages":true,"x":870,"y":360,"wires":[[]]},{"id":"1ff0aaab.2dfa55","type":"json","z":"e56b480b.d16798","name":"","x":690,"y":360,"wires":[["e787f38c.3668d"]]},{"id":"e0e3b758.2728e8","type":"mqtt in","z":"e56b480b.d16798","name":"/dev/timestamp","topic":"/dev/timestamp","qos":"1","broker":"8fb4c14f.3a4c4","x":120,"y":340,"wires":[["b48f4cfd.134c"]]},{"id":"b48f4cfd.134c","type":"function","z":"e56b480b.d16798","name":"","func":"startTime = new Date(2017, 1, 1, 18, 30, 0, 0);\nendTime = new Date(2017, 1, 2, 7, 30, 0, 0);\n\n// flow.set('startTime', startTime);\n// flow.set('endTime', endTime);\n\nvar timestamp = msg.payload;\nvar date = new Date(timestamp*1000);\n\nvar hour = date.getHours();\nvar minute = date.getMinutes();\n\nvar timeOk = hour >= startTime.getHours();  // || hour < endTime.getHours();\nflow.set('timeOk', timeOk);\n\nmsg.payload = timeOk; //startTime.getHours(); // hour > startTime.getHours() && hour < endTime.getHours();\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["93e6bde8.99db8","400251c0.52f4c"]]},{"id":"400251c0.52f4c","type":"debug","z":"e56b480b.d16798","name":"","active":true,"console":"false","complete":"false","x":490,"y":340,"wires":[]},{"id":"8fb4c14f.3a4c4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"98ef9212.5d522","type":"ui_group","z":"","name":"Heater Control","tab":"5e02494a.008278","order":2,"disp":true,"width":"6"},{"id":"5e02494a.008278","type":"ui_tab","z":"","name":"Liams Room","icon":"dashboard","order":1}]