MotionMQTTWidget/Node-Red Ubidots Flow.json
[{"id":"af5d4fae.0d088","type":"subflow","name":"Send variable to Ubidots","info":"Sends the message part of the payload.\nNeeds:\nmsg.payload (data: ie {'value':1.2, 'content' : { 'message' : MESSAGE }}) ->\nmsg.token\nmsg.variableId","in":[{"x":400,"y":380,"wires":[{"id":"578aef4.9b9c81"}]}],"out":[]},{"id":"578aef4.9b9c81","type":"function","z":"af5d4fae.0d088","name":"Ubidots send variable","func":"\nvar data = msg.payload;\n\nmsg.headers = {\n    'Content-Type' : 'application/json',\n    'Content-Length' : data.length,\n    'X-Auth-Token' : msg.token\n};\nmsg.method = \"POST\";\nmsg.payload = data;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["c94890bd.23053"]]},{"id":"c94890bd.23053","type":"http request","z":"af5d4fae.0d088","name":"","method":"use","ret":"obj","url":"http://things.ubidots.com/api/v1.6/variables/{{{variableId}}}/values/","tls":"","x":850,"y":260,"wires":[[]]},{"id":"72d0a297.89d43c","type":"debug","z":"af5d4fae.0d088","name":"","active":true,"console":"false","complete":"payload","x":850,"y":520,"wires":[]},{"id":"8ee41811.605878","type":"debug","z":"af5d4fae.0d088","name":"","active":true,"console":"false","complete":"statusCode","x":1064.5,"y":260,"wires":[]},{"id":"9e6b81f2.02ada","type":"mqtt in","z":"9942e133.ef79e","name":"","topic":"/device/liamroom/motion","qos":"0","broker":"8fb4c14f.3a4c4","x":130,"y":520,"wires":[["dd1c43a0.ce8e6"]]},{"id":"81cfe093.602bd","type":"function","z":"9942e133.ef79e","name":"Setup \"Liam Room Door - Motion\"","func":"\nvar payload = msg.payload;\n\nif (payload === \"\") {\n    return;\n}\n\nmsg.token = \"GioE85MkDexLpsbE1Tt37F3TY2p3Fa6XM4bKvftz9OfC87MrH5bQGceJrVgF\";\n\nmsg.variableId = \"58abde8c76254260e42f1632\";\n\nmsg.payload = \"\";\nif (payload !== \"\") {\n    msg.payload = \"{ \\\"value\\\" : 1.2, \";\n    msg.payload += \" \\\"context\\\" : { \";\n    msg.payload += \"        \\\"message\\\" : \\\"\" + payload + \"\\\", \";\n    msg.payload += \"        \\\"triptime\\\" : \\\"\" + msg.trip_time +\"\\\" \";\n    msg.payload += \"        } \";\n    msg.payload += \"}\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":440,"wires":[["1a02e2ea.d4810d","22df3554.bcd26a"]]},{"id":"1a02e2ea.d4810d","type":"subflow:af5d4fae.0d088","z":"9942e133.ef79e","name":"Send door event","x":1000,"y":440,"wires":[]},{"id":"e87230da.cb606","type":"mqtt in","z":"9942e133.ef79e","name":"","topic":"/dev/liamroom-lid-online","qos":"0","broker":"8fb4c14f.3a4c4","x":120,"y":100,"wires":[["3f2740c0.a020c"]]},{"id":"3f2740c0.a020c","type":"trigger","z":"9942e133.ef79e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"800","extend":false,"units":"ms","reset":"","name":"Pulse","x":370,"y":100,"wires":[[]]},{"id":"78c263eb.844f2c","type":"mqtt in","z":"9942e133.ef79e","name":"","topic":"/device/liamroom/motion/online","qos":"2","broker":"8fb4c14f.3a4c4","x":150,"y":40,"wires":[["ebd9f12f.713da"]]},{"id":"ebd9f12f.713da","type":"trigger","z":"9942e133.ef79e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"800","extend":false,"units":"ms","reset":"","name":"Pulse","x":370,"y":40,"wires":[[]]},{"id":"43b282b7.a9ac5c","type":"function","z":"9942e133.ef79e","name":"Trip Manager","func":"\nvar TripState = {\n    Waiting : 0,\n    Triggered : 1,\n    InProgress : 2,\n    Ending : 3\n};\n\ncontext.room_lastread = context.room_lastread || 0;\ncontext.door_lastread = context.door_lastread || 0;\ncontext.last_direction = context.last_direction || 0;\ncontext.tripStartTime = context.tripStartTime || 0;\ncontext.tripState = context.tripState || TripState.Waiting;\ncontext.lastTripState = context.lastTripState || TripState.Waiting;\n\nconst SECONDS = 1000;\nconst MINUTES = 60 * SECONDS;\ncontext.idle_time = context.idle_time || 5 * SECONDS;\n\nvar msgDebug = null;    // { payload : \"none\" };\n\nif (msg.topic == \"/flow/maintenance\") {\n    context.idle_time = msg.payload.idle_time * SECONDS;\n}\n\ncontext.global.millisToMinutesAndSeconds = function(millis) {\n    var minutes = Math.floor(millis / 60000);\n    var seconds = ((millis % 60000) / 1000).toFixed(0);\n    return minutes + \":\" + (seconds < 10 ? '0' : '') + seconds; \n};\n\n// returns tripState\ncontext.global.getTripPayload = function(oldState, newState) {\n\n    if (oldState != newState) {\n        // changed\n        switch (newState) {\n            case TripState.Waiting:\n                return { payload: \"Waiting\" };\n            case TripState.Triggered:\n                return { payload: \"Triggered\" };\n            case TripState.InProgress:\n                return { payload: \"InProgress\" };\n            case TripState.Ending:\n                return { payload: \"Ending\" };\n        }\n    }\n    return null;\n};\n\n\nvar timestamp = global.get(\"timestamp\");\n\nvar topic = msg.topic;\n\nvar tripMsg = null;\nvar debugMsg = null;\nmsg = null;\n\nvar wasMotion = topic == \"/device/liamroom/motion\";\nvar wasMaintenance = topic == \"/flow/maintenance\";\n\nvar oldState = context.tripState;\n\nif (context.tripState == TripState.Waiting) {\n    if (wasMotion) {\n        context.tripStartTime = timestamp;\n        context.room_lastread = timestamp;\n        context.tripState = TripState.InProgress;\n        context.lastTripState = TripState.Waiting;\n    }\n}\n\nif (context.tripState == TripState.InProgress) {\n    if (wasMotion) {\n        if (context.lastTripState != TripState.Waiting) {\n            tripMsg = { payload : \"Triggered\" };\n            context.lastTripState = TripState.Triggered;\n        }\n        context.room_lastread = timestamp;\n    }\n    else if (wasMaintenance) {\n        var stateChanged = context.lastTripState != context.tripState;\n        if (context.lastTripState == TripState.Waiting) {\n            tripMsg = { payload : \"InProgress\" };\n        }\n        context.lastTripState = TripState.InProgress;\n        \n        var sinceLastRead = timestamp - context.room_lastread;\n        if (sinceLastRead > context.idle_time) {\n            context.tripState = TripState.Ending;\n            tripMsg = context.global.getTripPayload(oldState, TripState.Ending);\n            msg = { payload : \"Ending\" };\n        }\n    }\n}\n\nswitch (context.tripState) {\n    case TripState.Waiting:\n        node.status({fill:\"yellow\",shape:\"dot\",text:\"waiting\"});\n        break;\n    case TripState.Triggered:\n        node.status({fill:\"green\",shape:\"dot\",text:\"in progress: motion\"});\n        break;\n    case TripState.InProgress:\n        node.status({fill:\"blue\",shape:\"dot\",text:\"in progress: maintenance(\" + Math.floor((context.idle_time-sinceLastRead)/1000) + \")\"});\n        break;\n    case TripState.Ending:\n        node.status({fill:\"red\",shape:\"dot\",text:\"ending\"});\n        break;\n}\n\nif (context.tripState == TripState.Ending) {\n    var elapsedMs = context.room_lastread - context.tripStartTime;\n    msg.trip_time = \"Trip: (\" + context.global.millisToMinutesAndSeconds(elapsedMs) + \")\";\n    context.tripState = TripState.Waiting;\n}\n\nreturn [msg, tripMsg, msgDebug];\n","outputs":"3","noerr":0,"x":430,"y":440,"wires":[["e34aa0b5.b6e11","81cfe093.602bd"],["3f2ab922.d78926","dfb66791.99c098"],["d76a2f25.bb7b5"]]},{"id":"22df3554.bcd26a","type":"debug","z":"9942e133.ef79e","name":"","active":false,"console":"false","complete":"true","x":970,"y":480,"wires":[]},{"id":"dd1c43a0.ce8e6","type":"delay","z":"9942e133.ef79e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":210,"y":360,"wires":[["43b282b7.a9ac5c"]]},{"id":"b84968bb.822b88","type":"ui_button","z":"9942e133.ef79e","name":"","group":"96fb0076.96056","order":2,"width":"3","height":"1","label":"Liams Room Motion","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"/device/liamroom/motion","x":120,"y":480,"wires":[["dd1c43a0.ce8e6"]]},{"id":"e34aa0b5.b6e11","type":"debug","z":"9942e133.ef79e","name":"","active":false,"console":"false","complete":"true","x":750,"y":480,"wires":[]},{"id":"24783d8.85101c2","type":"inject","z":"9942e133.ef79e","name":"tick/config","topic":"/flow/maintenance","payload":"{ \"idle_time\" : 10 }","payloadType":"json","repeat":"1","crontab":"","once":true,"x":190,"y":320,"wires":[["43b282b7.a9ac5c","3a1864aa.1c748c"]]},{"id":"696fb3f6.9144dc","type":"function","z":"9942e133.ef79e","name":"Ubidots delete values","func":"\n//var data = msg.payload;\nmsg.token = \"GioE85MkDexLpsbE1Tt37F3TY2p3Fa6XM4bKvftz9OfC87MrH5bQGceJrVgF\";\nmsg.variableId = \"58abde8c76254260e42f1632\";\n\nmsg.headers = {\n//     'Content-Type' : 'application/json',\n//     'Content-Length' : data.length,\n 'X-Auth-Token' : msg.token\n};\nmsg.method = \"DELETE\";\nmsg.payload = \"\";   //data;\nmsg.start = 1483228800000;\nmsg.end = Date.now();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":680,"wires":[["c51506f6.ec5178"]]},{"id":"c51506f6.ec5178","type":"http request","z":"9942e133.ef79e","name":"","method":"use","ret":"obj","url":"http://things.ubidots.com/api/v1.6/variables/{{{variableId}}}/values/{{{start}}}/{{{end}}}/","tls":"","x":550,"y":680,"wires":[["c939b7ff.ccb588"]]},{"id":"95ea63aa.d7865","type":"ui_button","z":"9942e133.ef79e","name":"","group":"98ef9212.5d522","order":0,"width":0,"height":0,"label":"Delete from now","color":"white","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":680,"wires":[["696fb3f6.9144dc"]]},{"id":"c939b7ff.ccb588","type":"debug","z":"9942e133.ef79e","name":"","active":true,"console":"false","complete":"true","x":710,"y":680,"wires":[]},{"id":"dfb66791.99c098","type":"debug","z":"9942e133.ef79e","name":"","active":false,"console":"false","complete":"payload","x":930,"y":580,"wires":[]},{"id":"3f2ab922.d78926","type":"function","z":"9942e133.ef79e","name":"send colours","func":"\nif (msg.payload !== null) {\n\n    const COLOUR_OFF = \"0,0,0\";\n    const COLOUR_INPROGRESS = \"1,0,0\";\n    const COLOUR_MOTIONFLASH = \"100,0,0\";\n\n    var colours = \"0,0,0\";\n    var colourPayload = \"{\\\"command\\\" : \\\"PIXEL\\\", \\\"value\\\" : \\\"COLOUR_REPLACE\\\"}\";\n    var triggeredPayload = \"{\\\"command\\\" : \\\"FLASH\\\", \\\"value\\\" : \\\"COLOUR_REPLACE\\\"}\";\n    \n    var tripStage = msg.payload;\n    switch (tripStage) {\n        case \"Waiting\":\n            msg.payload = colourPayload.replace(\"COLOUR_REPLACE\", COLOUR_OFF);\n            break;\n        case \"InProgress\":\n            msg.payload = colourPayload.replace(\"COLOUR_REPLACE\", COLOUR_INPROGRESS);\n            break;\n        case \"Triggered\":\n            msg.payload = triggeredPayload.replace(\"COLOUR_REPLACE\", COLOUR_MOTIONFLASH);\n            break;\n        case \"Ending\":\n            msg.payload = colourPayload.replace(\"COLOUR_REPLACE\", COLOUR_OFF);\n            break;\n        default:\n            return null;\n    }\n    \n    switch (tripStage) {\n        case \"Waiting\":\n            node.status({fill:\"yellow\", shape: \"dot\", text: msg.payload });\n            break;\n        case \"InProgress\":\n            node.status({fill:\"green\", shape: \"dot\", text: msg.payload });\n            break;\n        case \"Triggered\":\n            node.status({fill:\"blue\", shape: \"dot\", text: msg.payload });\n            break;\n        case \"Ending\":\n            node.status({fill:\"red\", shape: \"dot\", text: msg.payload });\n            break;\n    }\n\n    return msg;\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":670,"y":520,"wires":[["dfb66791.99c098","7e3aac22.6dbea4"]]},{"id":"7e3aac22.6dbea4","type":"mqtt out","z":"9942e133.ef79e","name":"","topic":"/device/liamroom/motion/command","qos":"","retain":"","broker":"8fb4c14f.3a4c4","x":1000,"y":520,"wires":[]},{"id":"e8aff53a.d99f08","type":"mqtt in","z":"9942e133.ef79e","name":"","topic":"/bedroom/bedside-client/online","qos":"0","broker":"8fb4c14f.3a4c4","x":150,"y":160,"wires":[["c42acc0a.25d14"]]},{"id":"c42acc0a.25d14","type":"trigger","z":"9942e133.ef79e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"800","extend":false,"units":"ms","reset":"","name":"Pulse","x":370,"y":160,"wires":[[]]},{"id":"30737fa6.5b772","type":"inject","z":"9942e133.ef79e","name":"","topic":"/device/liamroom/motion","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":440,"wires":[["dd1c43a0.ce8e6"]]},{"id":"3a1864aa.1c748c","type":"debug","z":"9942e133.ef79e","name":"","active":false,"console":"false","complete":"false","x":580,"y":340,"wires":[]},{"id":"d76a2f25.bb7b5","type":"debug","z":"9942e133.ef79e","name":"","active":false,"console":"false","complete":"payload","x":660,"y":600,"wires":[]},{"id":"78b98a27.4c51c4","type":"mqtt in","z":"9942e133.ef79e","name":"/dev/bottleFeed","topic":"/dev/bottleFeed","qos":"0","broker":"8fb4c14f.3a4c4","x":120,"y":860,"wires":[["46002512.68094c"]]},{"id":"46002512.68094c","type":"debug","z":"9942e133.ef79e","name":"","active":false,"console":"false","complete":"payload","x":660,"y":860,"wires":[]},{"id":"af8d0216.e5bdf","type":"mqtt out","z":"9942e133.ef79e","name":"","topic":"/dev/bottleFeed","qos":"","retain":"","broker":"8fb4c14f.3a4c4","x":690,"y":900,"wires":[]},{"id":"85738ccc.075b","type":"ui_button","z":"9942e133.ef79e","name":"","group":"3b5633e8.c9adec","order":0,"width":0,"height":0,"label":"Bottle-Feed","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":110,"y":900,"wires":[["af8d0216.e5bdf"]]},{"id":"4ae593de.c33c5c","type":"mqtt in","z":"9942e133.ef79e","name":"/dev/temperature1","topic":"/dev/temperature1","qos":"1","broker":"8fb4c14f.3a4c4","x":150,"y":1060,"wires":[["f1f6449c.d187e8","add236de.418728"]]},{"id":"b33bd49b.ae2b98","type":"mqtt out","z":"9942e133.ef79e","name":"","topic":"/dev/temperature_liam_room_level","qos":"","retain":"","broker":"8fb4c14f.3a4c4","x":760,"y":1000,"wires":[]},{"id":"f1f6449c.d187e8","type":"function","z":"9942e133.ef79e","name":"TempLevels","func":"\nvar t = parseFloat(msg.payload);\nvar level = '0';\nvar colour = \"0,0,0\";\n\nif (t < 16) {\n    level = 0;    // COLD\n    node.status = node.status({fill:\"blue\",shape:\"dot\",text:\"Level = COLD\"});\n    colour = \"0,0,10\";\n} else if (t < 18) {\n    level = 1;    // COOL\n    node.status = node.status({fill:\"grey\",shape:\"dot\",text:\"Level = COOL\"});\n    colour = \"0,0,2\";\n} else if (t < 21) {\n    level = 3;    // OK\n    node.status = node.status({fill:\"green\",shape:\"dot\",text:\"Level = OK\"});\n    colour = \"0,2,0\";\n} else if (t < 23) {\n    level = 4;    // WARM\n    node.status = node.status({fill:\"yellow\",shape:\"dot\",text:\"Level = WARM\"});\n    colour = \"2,0,0\";\n} else if (t < 30) {\n    level = 5;    // HOT\n    node.status = node.status({fill:\"red\",shape:\"dot\",text:\"Level = HOT\"});\n    colour = \"10,0,0\";\n} else {\n    level = 0;      // ERROR\n    node.status = node.status({fill:\"red\",shape:\"dot\",text:\"Level = ERROR\"});\n    colour = \"255,0,0\";\n}\n\nvar json = \"{\";\njson += \"       'flash': true, \";\njson += \"       'level': \" + level + \",\";\njson += \"       'colour':[\" + colour + \"]\";\njson += \"   }\";\n\nmsg.payload = json;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1120,"wires":[["c58f3ca2.3faab","b33bd49b.ae2b98"]]},{"id":"add236de.418728","type":"ui_gauge","z":"9942e133.ef79e","name":"","group":"3e66a195.b08e4e","order":0,"width":"5","height":"5","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"15","max":"25","colors":["#0000ff","#00ca65","#ca3838"],"x":370,"y":1240,"wires":[]},{"id":"c58f3ca2.3faab","type":"ui_text","z":"9942e133.ef79e","group":"3e66a195.b08e4e","order":0,"width":0,"height":0,"name":"","label":"Payload","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":1120,"wires":[]},{"id":"2001e465.07277c","type":"ui_slider","z":"9942e133.ef79e","name":"","label":"slider","group":"3e66a195.b08e4e","order":0,"width":"6","height":"1","passthru":true,"topic":"","min":"15","max":"26","step":1,"x":120,"y":1160,"wires":[["f1f6449c.d187e8"]]},{"id":"8fb4c14f.3a4c4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"96fb0076.96056","type":"ui_group","z":"","name":"Drawers","tab":"5e02494a.008278","order":1,"disp":true,"width":"6"},{"id":"98ef9212.5d522","type":"ui_group","z":"","name":"Bedside Client","tab":"5e02494a.008278","order":2,"disp":true,"width":"6"},{"id":"3b5633e8.c9adec","type":"ui_group","z":"","name":"arduino-cot-lightstrip","tab":"5ab84f94.5011e","order":1,"disp":true,"width":"6"},{"id":"3e66a195.b08e4e","type":"ui_group","z":"","name":"Bottle Filler","tab":"5ab84f94.5011e","order":2,"disp":true,"width":"9"},{"id":"5e02494a.008278","type":"ui_tab","z":"","name":"Liams Room","icon":"dashboard","order":1},{"id":"5ab84f94.5011e","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":2}]