MotionMQTTWidget/Node-Red Ubidots Flow.json
[{"id":"af5d4fae.0d088","type":"subflow","name":"Send variable to Ubidots","info":"Sends the message part of the payload.\nNeeds:\nmsg.payload (data: ie {'value':1.2, 'content' : { 'message' : MESSAGE }}) ->\nmsg.token\nmsg.variableId","in":[{"x":400,"y":380,"wires":[{"id":"578aef4.9b9c81"}]}],"out":[]},{"id":"578aef4.9b9c81","type":"function","z":"af5d4fae.0d088","name":"Ubidots send variable","func":"\nvar data = msg.payload;\n\nmsg.headers = {\n    'Content-Type' : 'application/json',\n    'Content-Length' : data.length,\n    'X-Auth-Token' : msg.token\n};\nmsg.method = \"POST\";\nmsg.payload = data;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":380,"wires":[["c94890bd.23053"]]},{"id":"c94890bd.23053","type":"http request","z":"af5d4fae.0d088","name":"","method":"use","ret":"obj","url":"http://things.ubidots.com/api/v1.6/variables/{{{variableId}}}/values/","tls":"","x":850,"y":260,"wires":[[]]},{"id":"72d0a297.89d43c","type":"debug","z":"af5d4fae.0d088","name":"","active":true,"console":"false","complete":"payload","x":850,"y":520,"wires":[]},{"id":"8ee41811.605878","type":"debug","z":"af5d4fae.0d088","name":"","active":true,"console":"false","complete":"statusCode","x":1064.5,"y":260,"wires":[]},{"id":"9e6b81f2.02ada","type":"mqtt in","z":"9942e133.ef79e","name":"","topic":"/dev/liamroom-boxend-motion","qos":"0","broker":"8fb4c14f.3a4c4","x":140,"y":540,"wires":[["b2295d67.fbb51","dd1c43a0.ce8e6"]]},{"id":"96016faf.472ec","type":"mqtt in","z":"9942e133.ef79e","name":"","topic":"/dev/liamroom-lid-motion","qos":"0","broker":"8fb4c14f.3a4c4","x":130,"y":260,"wires":[["7f36f4d6.d03f5c","23d8c876.574178"]]},{"id":"911bd45.6c22428","type":"play audio","z":"9942e133.ef79e","name":"","voice":"3","x":570,"y":260,"wires":[]},{"id":"7f36f4d6.d03f5c","type":"function","z":"9942e133.ef79e","name":"Motion Lid","func":"msg = {};\nmsg.payload = \"Motion, Lid\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[[]]},{"id":"b2295d67.fbb51","type":"function","z":"9942e133.ef79e","name":"Motion Box End","func":"msg = {};\nmsg.payload = \"Motion, Box end\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":540,"wires":[[]]},{"id":"81cfe093.602bd","type":"function","z":"9942e133.ef79e","name":"Setup \"Liam Room Door - Motion\"","func":"\nvar payload = msg.payload;\n\nif (payload === \"\") {\n    return;\n}\n\nmsg.token = \"GioE85MkDexLpsbE1Tt37F3TY2p3Fa6XM4bKvftz9OfC87MrH5bQGceJrVgF\";\n\nmsg.variableId = \"58abde8c76254260e42f1632\";\n\nmsg.payload = \"\";\nif (payload !== \"\") {\n    msg.payload = \"{ \\\"value\\\" : 1.2, \";\n    msg.payload += \" \\\"context\\\" : { \";\n    msg.payload += \"        \\\"message\\\" : \\\"\" + payload + \"\\\", \";\n    msg.payload += \"        \\\"triptime\\\" : \\\"\" + msg.trip_time +\"\\\" \";\n    msg.payload += \"        } \";\n    msg.payload += \"}\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":360,"wires":[["1a02e2ea.d4810d","22df3554.bcd26a"]]},{"id":"1a02e2ea.d4810d","type":"subflow:af5d4fae.0d088","z":"9942e133.ef79e","name":"Send door event","x":1000.6430053710938,"y":424.6880187988281,"wires":[]},{"id":"e87230da.cb606","type":"mqtt in","z":"9942e133.ef79e","name":"","topic":"/dev/liamroom-lid-online","qos":"0","broker":"8fb4c14f.3a4c4","x":120,"y":100,"wires":[["3f2740c0.a020c"]]},{"id":"3f2740c0.a020c","type":"trigger","z":"9942e133.ef79e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"800","extend":false,"units":"ms","reset":"","name":"Pulse","x":330,"y":100,"wires":[[]]},{"id":"78c263eb.844f2c","type":"mqtt in","z":"9942e133.ef79e","name":"","topic":"/dev/liamroom-boxend-online","qos":"2","broker":"8fb4c14f.3a4c4","x":140,"y":40,"wires":[["ebd9f12f.713da"]]},{"id":"ebd9f12f.713da","type":"trigger","z":"9942e133.ef79e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"800","extend":false,"units":"ms","reset":"","name":"Pulse","x":330,"y":40,"wires":[[]]},{"id":"bbd5332d.bf6e6","type":"debug","z":"9942e133.ef79e","name":"","active":false,"console":"false","complete":"payload","x":770,"y":460,"wires":[]},{"id":"43b282b7.a9ac5c","type":"function","z":"9942e133.ef79e","name":"Calculate Trip","func":"\ncontext.global.millisToMinutesAndSeconds = function(millis) {\n    var minutes = Math.floor(millis / 60000);\n    var seconds = ((millis % 60000) / 1000).toFixed(0);\n    return minutes + \":\" + (seconds < 10 ? '0' : '') + seconds;\n}\n\nconst SECONDS = 1000;\nconst IDLE_TIME = 120 * SECONDS;\n\nvar timestamp = global.get(\"timestamp\");\n\nvar topic = msg.topic;\n\nvar TripState = {\n    Waiting : 0,\n    InProgress : 1,\n    Ending : 2\n};\n\ncontext.room_lastread = context.room_lastread || 0;\ncontext.door_lastread = context.door_lastread || 0;\ncontext.last_direction = context.last_direction || 0;\ncontext.tripStartTime = context.tripStartTime || 0;\ncontext.tripState = context.tripState || TripState.Waiting;\n\nvar topic = msg.topic;\n\n// \"/dev/liamroom-lid-motion\":\n// \"/dev/liamroom-boxend-motion\":\n        \nif (context.tripState == TripState.Waiting) {\n    if (topic == \"/dev/liamroom-boxend-motion\") {\n        context.tripStartTime = timestamp;\n        context.room_lastread = timestamp;\n        context.tripState = TripState.InProgress;\n        msg.payload = \"Waiting\";\n    }\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"waiting\"});\n}\n\nif (context.tripState == TripState.InProgress) {\n    if (topic == \"/dev/liamroom-boxend-motion\") {\n        context.room_lastread = timestamp;\n        node.status({fill:\"green\",shape:\"dot\",text:\"in progress: motion\"});\n    }\n    else if (topic == \"/flow/maintenance\") {\n        msg.payload = \"InProgress\";\n        var sinceLastRead = timestamp - context.room_lastread;\n        node.status({fill:\"blue\",shape:\"dot\",text:\"in progress: maintenance(\" + Math.floor((IDLE_TIME-sinceLastRead)/1000) + \")\"});\n        if (sinceLastRead > IDLE_TIME) {\n            context.tripState = TripState.Ending;\n            msg.payload = \"Ending\";\n            node.status({fill:\"red\",shape:\"dot\",text:\"ending\"});\n        }\n    }\n}\n\nif (context.tripState != TripState.Ending) {\n    return;\n}\n\nif (context.tripState == TripState.Ending) {\n    var elapsedMs = context.room_lastread - context.tripStartTime;\n    msg.trip_time = \"Trip: (\" + context.global.millisToMinutesAndSeconds(elapsedMs) + \")\";\n    context.tripState = TripState.Waiting;\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["bbd5332d.bf6e6","e34aa0b5.b6e11","81cfe093.602bd","27d17117.7677de"]]},{"id":"22df3554.bcd26a","type":"debug","z":"9942e133.ef79e","name":"","active":false,"console":"false","complete":"true","x":970,"y":480,"wires":[]},{"id":"4f979bd3.2a5684","type":"debug","z":"9942e133.ef79e","name":"","active":true,"console":"false","complete":"false","x":550,"y":340,"wires":[]},{"id":"12af8fee.768d2","type":"function","z":"9942e133.ef79e","name":"Process and Filter","func":"                                                \nvar timestamp = global.get(\"timestamp\");\nvar now = new Date(timestamp);\n\nif (now.getHours() > 7 && now.getHours() < 12) {\n    return;\n}\n\nif (msg.topic == \"/dev/liamroom-lid-motion\") {\n    msg.payload = \"Motion: Door\";\n}\nelse if (msg.topic == \"/dev/liamroom-boxend-motion\") {\n    msg.payload = \"Motion: Room\";\n}\nelse {\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["4f979bd3.2a5684","43b282b7.a9ac5c"]]},{"id":"405ee525.f8ed7c","type":"inject","z":"9942e133.ef79e","name":"/config/seconds-until-next-read","topic":"/config/seconds-until-next-read","payload":"3","payloadType":"num","repeat":"","crontab":"","once":true,"x":350,"y":880,"wires":[["125900d7.3a035f"]]},{"id":"125900d7.3a035f","type":"function","z":"9942e133.ef79e","name":"Config","func":"\nif (msg.topic == \"/config/seconds-until-next-read\") {\n    flow.set(\"seconds_until_next_read\", msg.payload * 1000);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":880,"wires":[[]]},{"id":"dd1c43a0.ce8e6","type":"delay","z":"9942e133.ef79e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":130,"y":400,"wires":[["12af8fee.768d2","43b282b7.a9ac5c"]]},{"id":"23d8c876.574178","type":"delay","z":"9942e133.ef79e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":130,"y":360,"wires":[["12af8fee.768d2"]]},{"id":"5fea0862.441848","type":"play audio","z":"9942e133.ef79e","name":"","voice":"3","x":590,"y":540,"wires":[]},{"id":"aadb2976.bc3148","type":"ui_button","z":"9942e133.ef79e","name":"","group":"96fb0076.96056","order":1,"width":"3","height":"1","label":"Lid","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"/dev/liamroom-lid-motion","x":70,"y":220,"wires":[["23d8c876.574178"]]},{"id":"b84968bb.822b88","type":"ui_button","z":"9942e133.ef79e","name":"","group":"96fb0076.96056","order":2,"width":"3","height":"1","label":"Box End","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"/dev/liamroom-boxend-motion","x":80,"y":500,"wires":[["dd1c43a0.ce8e6"]]},{"id":"e34aa0b5.b6e11","type":"debug","z":"9942e133.ef79e","name":"","active":true,"console":"false","complete":"trip_time","x":780,"y":500,"wires":[]},{"id":"24783d8.85101c2","type":"inject","z":"9942e133.ef79e","name":"/flow/maintenance","topic":"/flow/maintenance","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":190,"y":440,"wires":[["43b282b7.a9ac5c"]]},{"id":"7a75be88.6ba0e","type":"mqtt out","z":"9942e133.ef79e","name":"/node/liamsroom/trip","topic":"/node/liamsroom/trip","qos":"","retain":"","broker":"8fb4c14f.3a4c4","x":960,"y":300,"wires":[]},{"id":"27d17117.7677de","type":"function","z":"9942e133.ef79e","name":"Setup","func":"if (msg.topic == \"/flow/timestamp\") {\n    msg.payload = \"2\";  // clear display\n}\nelse {\n    msg.payload = \"1\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["7a75be88.6ba0e"]]},{"id":"29ae0ac2.f6f2b6","type":"mqtt out","z":"9942e133.ef79e","name":"/device/bedside-client/command","topic":"/bedroom/bedside-client/command","qos":"1","retain":"","broker":"8fb4c14f.3a4c4","x":610,"y":720,"wires":[]},{"id":"dc12c659.9f8678","type":"inject","z":"9942e133.ef79e","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":750,"y":260,"wires":[["7a75be88.6ba0e"]]},{"id":"10af6164.d3f5df","type":"inject","z":"9942e133.ef79e","name":"10,0,0","topic":"","payload":"{\"command\" : \"PIXEL\", \"value\" : \"10,0,0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":620,"wires":[["c36f491.33630b8","fcabead2.55aad8","382994e3.ba3c8c"]]},{"id":"c36f491.33630b8","type":"ui_text_input","z":"9942e133.ef79e","name":"Red","label":"Red","group":"98ef9212.5d522","order":1,"width":"2","height":"1","passthru":true,"mode":"text","delay":300,"topic":"/flow/RGB/red","x":110,"y":680,"wires":[["5667dd6f.9cb5d4"]]},{"id":"382994e3.ba3c8c","type":"ui_text_input","z":"9942e133.ef79e","name":"Blue","label":"Blue","group":"98ef9212.5d522","order":3,"width":"2","height":"1","passthru":true,"mode":"text","delay":300,"topic":"/flow/RGB/blue","x":110,"y":760,"wires":[["5667dd6f.9cb5d4"]]},{"id":"fcabead2.55aad8","type":"ui_text_input","z":"9942e133.ef79e","name":"Green","label":"Green","group":"98ef9212.5d522","order":2,"width":"2","height":"1","passthru":true,"mode":"text","delay":300,"topic":"/flow/RGB/green","x":110,"y":720,"wires":[["5667dd6f.9cb5d4"]]},{"id":"5667dd6f.9cb5d4","type":"function","z":"9942e133.ef79e","name":"msg.colours","func":"context.red = context.red || 0;\ncontext.green = context.green || 0;\ncontext.blue = context.blue || 0;\n\nif (msg.payload > 255 || msg.payload < 0 || msg.payload === \"\") {\n    return;\n}\n\nif (msg.topic == \"/flow/RGB/red\") {\n    context.red = msg.payload;\n}\nelse if (msg.topic == \"/flow/RGB/green\") {\n    context.green = msg.payload;\n}\nelse if (msg.topic == \"/flow/RGB/blue\") {\n    context.blue = msg.payload;\n}\nelse { \n    return; \n}\n\nvar colours = context.red + \",\" + context.green + \", \" + context.blue;\nmsg.payload = \"{\\\"command\\\" : \\\"PIXEL\\\", \\\"value\\\" : \\\"\" + colours + \"\\\"}\";\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":720,"wires":[["29ae0ac2.f6f2b6","7cfd9b3e.611fc4"]]},{"id":"7cfd9b3e.611fc4","type":"debug","z":"9942e133.ef79e","name":"","active":true,"console":"false","complete":"false","x":550,"y":680,"wires":[]},{"id":"8fb4c14f.3a4c4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"96fb0076.96056","type":"ui_group","z":"","name":"Drawers","tab":"5e02494a.008278","order":1,"disp":true,"width":"6"},{"id":"98ef9212.5d522","type":"ui_group","z":"","name":"Bedside Client","tab":"5e02494a.008278","order":2,"disp":true,"width":"6"},{"id":"5e02494a.008278","type":"ui_tab","z":"","name":"Liams Room","icon":"dashboard","order":1}]